.article {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-img {
    width: 320px;
    height: 525px;
}

.article-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 568px;
}