.bottom-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bottom-img.png");
    background-size: cover;
    height: 674px;
}

.btn-bottom {
    width: 236px;
    height: 68px;
    margin: 50px 10px 10px;
}

.btn-playstore {
    background-color: #FA4A0C;
}
.btn-playstore:hover {
    background-color: #FFFFFF;
    color:#FA4A0C;
}

.btn-appstore {
    background-color: inherit;
}

.btn-appstore:hover {
    background-color: #FFFFFF;
    color:#FA4A0C;
}

.phones-img {
    width: 100%;
   
}

