.content {
    display: flex;
    flex-direction: column;
    background-color: blue;
}
.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}