.content {
    display: flex;
    flex-direction: column;
}
.buttons {
    display: flex;
    justify-content: space-between;
}

.btn {
    border: 2px solid var(--alt-theme-color);
    color: var(--alt-theme-color);
}

.row-reverse {
    flex-direction: row-reverse;
}

.img {
    margin: 30px 30px;
}
