.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("../images/header-img.png");
    background-size: cover;
    height: 674px;
}

.btn-header {
    width: 236px;
    height: 68px;
    border-radius: 25px;
    margin: 50px 10px 10px;
    z-index: 2;
}

.btn-playstore {
    background-color: var(--main-theme-color);
}
.btn-playstore:hover {
    background-color: var(--alt-theme-color);
    color: var(--main-theme-color);
}

.btn-appstore {
    background-color: inherit;
}

.btn-appstore:hover {
    background-color: var(--alt-theme-color);
    color: var(--main-theme-color);
}

.phones-img {
    width: 100%;
   
}
.phones-group-container {
    width: 548px;
    height: 640px;
    margin-top: -125px;
    margin-left: -100px;
    margin-bottom: -400px;
    z-index: 1;
}
