.splitter {
    display: flex;
    flex-direction: column;
}

.splitter-line {
    margin: 0 auto;
    width: 844px;
    height: 400px;
    border-bottom: 3px solid #E4E4E4;
}

.splitter-text {
    margin: 50px auto;
    color: #000000;
    font-weight: bold;
    font-size: 44px;
}